body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
nav {
    background-color: #334;
}
nav a {
    color: #fff;
}
footer {
    background-color: #334;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    margin-top: auto;
}
main {
    text-align: center;
    margin-top: 50px;
    flex-grow: 1;
}
.botones button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 1.2em;
}
.btn-sobre-mi {
    background-color: #a58b3d; /* Aged Gold */
}
.btn-proyectos {
    background-color: #3b5c45; /* Mied Green */
}
.btn-contacto {
    background-color: #73262d; /* Garnight Reu */
}
.contenido {
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
    padding: 20px;
}






body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
nav {
    background-color: #334;
}
nav a {
    color: #fff;
}
footer {
    background-color: #334;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    margin-top: auto;
}
main {
    text-align: center;
    margin-top: 50px;
    flex-grow: 1;
}
.botones button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 1.2em;
}
.btn-sobre-mi {
    background-color: #a58b3d; /* Aged Gold */
}
.btn-proyectos {
    background-color: #3b5c45; /* Mied Green */
}
.btn-contacto {
    background-color: #73262d; /* Garnight Reu */
}
.contenido {
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
    padding: 20px;
}
